

      .to-top{
         cursor: pointer;
         position: absolute;
         bottom: 10px;
         right: 650px;
         z-index: 999999;
         background-color: #AED3FF;
         color: #0E3E92;
         padding: 0.5em 1.2em;
         font-size: 1em;
         -webkit-transition:all 0.2s linear;
         -moz-transition: all 0.2s linear;
         -o-transition:all 0.2s linear;
         transition: all 0.2s linear;
         opacity: 0;
      }

      body.scrolled . to-top{
         opacity: 1;
         cursor: pointer;
      }