div#slider {
    width: 1000px;
    height: 354px;
    margin: auto;
    position: absolute;
    overflow:hidden;
}
ul#image-content {
    list-style: none;    
    height: 354px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.image-content-item > img {
    float: left;
    width: 1000px;
    height: auto;
}
div#controls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    color: #fff;
}
ul#control-content {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
li.control-content-item {
    display: inline-block;                
}
.left{
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    background-position: -19px -41px;
    position: absolute;
    height: 12px;
    width: 12px;
    top: 7px;
    right: 63px;
}
.right{
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    background-position: -55px -41px;
    position: absolute;
    height: 12px;
    width: 12px;
    top: 7px;
    right: 30px;
}
.pause{
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    background-position: -37px -41px;
    position: absolute;
    height: 12px;
    width: 12px;
    top: 7px;
    right: 46px;
}
.play{
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    background-position: -37px -55px;
    position: absolute;
    height: 12px;
    width: 12px;
    top: 7px;
    right: 46px;
}
.dot{
    background: #ffd65d;
    padding: 5px;    
    border-radius: 50%;
    margin-left: 2px;    
    font-size: 0px;
}
#dot-content{
    width: 100%;
    list-style: none;
    margin-right: 173px;
    margin-bottom: 4px;
}
.dot-content-item{    
    display: inline-block;    
}
.dotActive{        
    padding: 7px;
    border-radius: 50%;  
    display: inline-block;
    font-size: 0px;
}