/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
figure,
p,
h2,
h3 {
  margin: 0;
  font-size: 0;
}
h2,
h3 {
  font-weight: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'TrajanPro-Regular';
  src: url("../fuentes/TrajanPro-Regular.eot");
  src: url("../fuentes/TrajanPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fuentes/TrajanPro-Regular.woff") format('woff'), url("../fuentes/TrajanPro-Regular.ttf") format('truetype'), url("../fuentes/TrajanPro-Regular.svg#TrajanPro-Regular") format('svg');
  font-style: normal;
}
body {
  font-family: 'TrajanPro-Regular';
  font-size: 16px;
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
header,
nav,
section.banners-slides,
section.container,
section.divitions-catego,
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 62.5em;
}
img {
  width: 100%;
}
.centrar {
  margin: 0 auto;
  text-align: center;
}
.relative {
  position: relative;
}
.inline-block {
  display: inline-block;
}
.first,
.last {
  margin: 0rem;
}
.content-user {
  background-color: #ffde7d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.4em 0em;
  height: 2.5em;
}
.lookuma-logo-min,
.button-menu {
  display: none;
}
.my-count {
  display: inline-block;
}
.user,
.register {
  display: inline-block;
  position: absolute;
  top: 0.4em;
}
.user {
  left: 0em;
}
.register {
  right: 1em;
}
.saludo {
  border-right: 1px solid #000;
  padding: 5px;
}
.head-center {
  margin-top: 1.3em;
  margin-bottom: 1.8em;
}
.logotype,
.cart {
  display: inline-block;
  vertical-align: top;
}
.logotype {
  width: 14.5625em;
}
.cart {
  background-color: #ffd65d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.7rem;
  height: 1.9375rem;
  padding: 10px 5px;
  position: absolute;
  right: 0em;
  top: 0em;
  width: auto;
}
.carrito {
  border-right: 1px solid #000;
  padding-right: 5px;
}
.menu-principal {
  border-top: 1px solid #ffde7d;
  border-bottom: 1px solid #ffde7d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  height: 3.25rem;
  margin: 0;
}
.list {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 3.25rem;
  line-height: 3.25rem;
  margin-left: 1.25rem;
  width: 10.2rem;
  text-align: center;
  -webkit-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  -moz-transition-property: background;
  -papitas-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -papitas-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -papitas-transition-timing-function: ease;
  transition-timing-function: ease;
}
.list a {
  display: block;
}
.list a:hover {
  background-color: #ffde7d;
}
.list a:active {
  background-color: #eae9e9;
}
.list:hover {
  background-color: #ffd65d;
}
.sub-menu {
  background-color: #eae9e9;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding: 0;
  padding-bottom: 0.8rem;
  margin: 0;
  margin-top: -1px;
  width: 10.2rem;
  height: auto;
  z-index: 5;
}
.sub-list {
  font-size: 0.8rem;
  line-height: 1.4rem;
  height: 1.2rem;
  padding-top: 0.8rem;
  text-align: left;
}
.sub-list a {
  display: block;
  padding-left: 28px;
  -webkit-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  -moz-transition-property: background;
  -papitas-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -papitas-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -papitas-transition-timing-function: ease;
  transition-timing-function: ease;
}
.sub-list a:hover {
  background-color: #ffde7d;
}
.list:hover .sub-menu {
  position: absolute;
  display: block;
  z-index: 5;
}
.banners-slides {
  height: 354px;
}
.divitions-catego {
  padding: 0.5rem 0.1rem;
  height: 40px;
  text-align: left;
}
.divitions-catego ul {
  padding: 0;
}
.divitions-catego ul li.list-gen {
  display: inline-block;
  line-height: 1rem;
  padding-left: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.divitions-catego ul li.list-gen a:hover {
  text-decoration: underline;
}
.divitions-catego ul li.list-gen a.active {
  color: #ffd65d;
  text-decoration: none;
}
.divitions-catego ul .link-first {
  border-right: 1px solid #000;
  padding-right: 0.5rem;
}
.container {
  margin-top: 2.375rem;
}
.categories {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 2.5rem;
  margin-bottom: 2rem;
  height: 18.75rem;
  display: inline-block;
  width: 30.9375rem;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -papitas-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.categories:hover {
  background-color: #ffde7d;
}
.categories .image {
  width: 26.875rem;
  margin: 0 auto;
}
.txt-category {
  font-size: 1.2rem;
  position: absolute;
  top: 1rem;
  left: 1.9rem;
}
main.main-list {
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
aside.col-left,
section.col-right {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-left {
  text-align: left;
  width: 200px;
  padding-left: 1.2rem;
}
h2.sub-cat-tittle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  padding-left: 0.7rem;
  padding-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  width: 185px;
}
ul.left-menu {
  padding: 0;
}
ul.left-menu .list-left {
  font-size: 1.2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.8rem;
  width: 185px;
}
ul.left-menu .list-left a {
  display: block;
  line-height: 3.2rem;
  height: 2.8rem;
  padding-left: 1.1rem;
}
ul.left-menu .list-left a:hover {
  background-color: #ffde7d;
}
ul.left-menu .list-left a.active {
  background-color: #ffde7d;
}
.col-right {
  padding-left: 1.8rem;
  width: 793px;
}
.product {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 222px;
  margin-right: 1.82rem;
  height: 215px;
  vertical-align: top;
}
.content-zoom {
  overflow: hidden;
  position: relative;
  width: 222px;
}
.zoom {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  -o-transition: width 2s, height 2s, -o-transform 2s;
  -ms-transition: width 2s, height 2s, -ms-transform 2s;
  -moz-transition: width 2s, height 2s, -moz-transform 2s;
  -papitas-transition: width 2s, height 2s, -papitas-transform 2s;
  transition: width 2s, height 2s, transform 2s;
}
.zoom:hover {
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -papitas-transform: scale(2);
  transform: scale(2);
}
.image-product {
  position: relative;
}
.oferta,
.agotado {
  position: absolute;
  top: 0;
}
.oferta {
  width: 3.2rem;
  right: 0;
}
.txt-product {
  font-size: 0.71rem;
  font-weight: bold;
  margin: 8px 0px;
}
.txt-product a:hover {
  text-decoration: underline;
}
a.button-ver,
.prod-price {
  display: inline-block;
  vertical-align: text-bottom;
  margin: 0;
}
a.button-ver {
  border-box: border-box;
  background-color: #ffde7d;
  font-family: arial;
  font-size: 0.9rem;
  line-height: 1.8rem;
  height: 29px;
  width: 90px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0px #ffd65d;
  box-shadow: 0px 3px 0px #ffd65d;
}
a.button-ver:active {
  -webkit-box-shadow: 0px 0px 0px #ffd65d;
  box-shadow: 0px 0px 0px #ffd65d;
  margin-top: 3px;
}
.prod-price {
  text-align: right;
  width: 117px;
  font-size: 0.7rem;
}
ins {
  text-decoration: none;
  padding-left: 3px;
}
.space {
  height: 2.5rem;
  width: 100%;
}
.footer {
  margin-bottom: 1.2rem;
}
.redes {
  height: 55px;
  text-align: center;
}
.linea {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: #000;
  z-index: 0;
}
.social-net {
  background-color: #fff;
  height: 55px;
  width: 200px;
  position: relative;
  left: 50%;
  margin-left: -100px;
}
.icon-facebook-img a {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-position: 4px 5px;
  position: absolute;
  height: 30px;
  width: 28px;
  top: 8px;
  left: 2.4rem;
}
.icon-pinterest-img a {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-position: -18px 5px;
  position: absolute;
  height: 30px;
  width: 28px;
  top: 8px;
  left: 5rem;
}
.icon-instagram-img a {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-position: -44px 5px;
  position: absolute;
  height: 30px;
  width: 28px;
  top: 8px;
  left: 8rem;
}
.to-top {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 0px;
  z-index: 999999;
  background-color: #ffde7d;
  color: #000;
  padding: 0.5em 1.2em;
  font-size: 1rem;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -papitas-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.about-lookuma,
.foot-cat,
.foot-services {
  vertical-align: top;
  width: 322px;
}
.about-lookuma {
  border-right: 1px solid #000;
  text-align: left;
}
.about-lookuma p {
  font-size: 0.8rem;
  text-align: left;
  margin-top: 0.8rem;
  padding-left: 0.5rem;
  width: 230px;
}
.foot-services {
  border-left: 1px solid #000;
}
.foot-title {
  padding: 2px 25px 5px 8px;
  border-bottom: 1px solid #000;
  font-size: 1.3rem;
}
.foot-list {
  text-align: left;
  padding-left: 3rem;
}
.foot-list a:hover {
  color: #ffd65d;
}
@media screen and (max-width: 1024px) {
  header,
  nav,
  section.banners-slides,
  section.container,
  footer {
    width: 100%;
  }
  .content-user {
    height: 6rem;
  }
  .user,
  .logotype,
  .menu-principal,
  .banners-slides,
  .about-lookuma {
    display: none;
  }
  .lookuma-logo-min {
    width: 8.3rem;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 1.875rem;
  }
  .register {
    left: 0;
    width: 15rem;
    top: 7rem;
    height: auto;
  }
  .cart {
    background-color: #ffd65d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    right: 0.5em;
    top: -0.6rem;
  }
  .button-menu {
    width: 12rem;
    position: absolute;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    background-color: #a6a5a5;
    color: #fff;
    display: block;
    right: 0.8em;
    top: 1.2rem;
    padding: 8px 0px;
    line-height: 2.2rem;
    font-size: 2.2rem;
  }
  .container {
    margin-top: 6.5rem;
  }
  .categories {
    padding-bottom: 0.5rem;
    height: auto;
    width: 23.75rem;
    margin-right: 1rem;
  }
  .categories .image {
    width: 100%;
  }
  .txt-category {
    left: 0.5rem;
  }
  .foot-cat,
  .foot-services {
    width: 280px;
  }
  .foot-services {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .content-user {
    height: 5rem;
  }
  .lookuma-logo-min {
    width: 6.8rem;
    margin-left: 0.5rem;
  }
  .button-menu {
    width: 10rem;
    right: 0.25em;
    top: 1rem;
    padding: 6px 0px;
    line-height: 2.2rem;
    font-size: 1.8rem;
  }
  .register {
    top: 5.7rem;
    font-size: 0.88rem;
    width: 13.1rem;
  }
  .cart {
    font-size: 0.79rem;
    right: 0.5em;
    top: -0.8rem;
  }
  .categories {
    height: auto;
    width: 100%;
    margin-right: 0rem;
  }
  .foot-services {
    padding-left: 0.1rem;
    border-left: 0px;
  }
}
@media screen and (max-width: 395px) {
  .register {
    width: 100%;
  }
  .cart {
    width: 100%;
    right: 0em;
    top: 2rem;
  }
  .container {
    margin-top: 7rem;
  }
}
