@import "nib"
@import "normalize.styl"

vendor-prefixes = webkit o ms moz papitas official

color_lookuma_1 = #ffde7d
color_lookuma_2 = #ffd65d
color_lookuma_3 = #eae9e9
	//url('../fuentes/TrajanPro-Regular.woff2') format('woff2'),
@font-face 
	font-family: 'TrajanPro-Regular'  
	src:url('../fuentes/TrajanPro-Regular.eot')
	src:url('../fuentes/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fuentes/TrajanPro-Regular.woff') format('woff'),
		url('../fuentes/TrajanPro-Regular.ttf') format('truetype'),
		url('../fuentes/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg') 
	font-style: normal

body  
	font-family 'TrajanPro-Regular' 
	font-size 16px
	width 100%
a
	text-decoration none
	color #000000
ul 
	list-style none
header
nav
section.banners-slides
section.container
section.divitions-catego
footer	
	box-sizing border-box
	width 62.5em
img
	width 100%
.centrar
	margin 0 auto
	text-align center   

.relative
	position relative
.inline-block
	display inline-block

.first
.last
	margin 0rem

.content-user
	background-color color_lookuma_1 
	box-sizing border-box
	padding 0.4em 0em
	height 2.5em
.lookuma-logo-min
.button-menu
	display none
	
.my-count
	display inline-block
.user,
.register
	display inline-block
	position absolute
	top 0.4em
.user
	left 0em  
.register  
	right 1em 
.saludo
	border-right 1px solid #000000
	padding 5px

.head-center
	margin-top 1.3em
	margin-bottom 1.8em

.logotype
.cart
	display inline-block
	vertical-align top

.logotype
	width 14.5625em

.cart
	background-color color_lookuma_2
	box-sizing border-box
	font-size 0.7rem
	height 1.9375rem
	padding 10px 5px
	position absolute
	right 0em
	top 0em
	width auto
.carrito
	border-right 1px solid #000000
	padding-right 5px
.menu-principal
	border-top 1px solid color_lookuma_1
	border-bottom 1px solid color_lookuma_1
	box-sizing border-box	
	text-align left
	height 3.25rem
	margin 0
.list	
	float left
	box-sizing border-box
	height 3.25rem
	line-height 3.25rem
	margin-left 1.25rem
	width 10.2rem
	text-align center
	transition-property background
	transition-duration .5s
	transition-timing-function ease
	a	
		display block	
		&:hover
			background-color color_lookuma_1
		&:active
			background-color color_lookuma_3
.list
	&:hover
			background-color color_lookuma_2
.sub-menu
	background-color color_lookuma_3	
	display none
	box-sizing border-box
	text-align left
	padding 0
	padding-bottom 0.8rem
	margin 0
	margin-top -1px
	width 10.2rem
	height auto
	z-index 5

.sub-list
	font-size 0.8rem
	line-height 1.4rem
	height 1.2rem
	padding-top 0.8rem	
	text-align left
	a			
		display block
		padding-left 28px
		transition-property background
		transition-duration .5s
		transition-timing-function ease
		&:hover
			background-color color_lookuma_1

.list:hover .sub-menu	
	position absolute
	display block
	z-index 5

.banners-slides
	height 354px
.divitions-catego
	padding 0.5rem 0.1rem
	height 40px
	text-align left
	ul
		padding 0		
		li.list-gen
			display inline-block			
			line-height 1rem
			padding-left 0.3rem
			padding-top 0.2rem
			padding-bottom 0.2rem
			a 
				&:hover
					text-decoration underline
			a.active
				color color_lookuma_2
				text-decoration none
		.link-first
			border-right 1px solid #000000
			padding-right 0.5rem
.container
	margin-top 2.375rem	
.categories
	box-sizing border-box
	padding-top 2.5rem
	margin-bottom 2rem
	height 18.75rem
	display inline-block
	width 30.9375rem
	transition all .5s ease-out
	&:hover
		background-color color_lookuma_1
	.image
		width 26.875rem
		margin 0 auto	

.txt-category
	font-size 1.2rem
	position absolute
	top 1rem
	left 1.9rem
main.main-list
	text-align left
	box-sizing border-box
aside.col-left
section.col-right
	display inline-block
	vertical-align top
	box-sizing border-box
.col-left	
	text-align left
	width 200px
	padding-left 1.2rem

h2.sub-cat-tittle
	box-sizing border-box
	border-bottom 1px solid #000
	padding-left 0.7rem
	padding-bottom 0.2rem
	font-size 1.6rem
	font-weight bold
	width 185px
ul.left-menu	
	padding 0
	.list-left
		font-size 1.2rem
		box-sizing border-box					
		height 2.8rem			
		width 185px
		a
			display block
			line-height 3.2rem
			height 2.8rem			
			padding-left 1.1rem					
			&:hover
				background-color color_lookuma_1
		a.active
			background-color color_lookuma_1			
.col-right
	padding-left 1.8rem
	width 793px
.product
	box-sizing border-box
	display inline-block
	width 222px
	margin-right 1.82rem
	height 215px
	vertical-align top
.content-zoom
	overflow hidden
	position relative
	width 222px
.zoom 
	transition width 2s, height 2s, transform 2s
	&:hover
		transform scale(2)
.image-product
	position relative	
.oferta
.agotado
	position absolute
	top 0
.oferta
	width 3.2rem
	right 0
.txt-product
	font-size 0.71rem
	font-weight bold
	margin 8px 0px
	a:hover
		text-decoration underline
a.button-ver
.prod-price
	display inline-block
	vertical-align text-bottom
	margin 0
a.button-ver
	border-box border-box	
	background-color color_lookuma_1
	font-family arial
	font-size 0.9rem
	line-height 1.8rem
	height 29px
	width 90px
	text-align center
	box-shadow 0px 3px 0px color_lookuma_2
	&:active
		box-shadow 0px 0px 0px color_lookuma_2
		margin-top 3px
.prod-price
	text-align right
	width 117px
	font-size 0.7rem
ins
	text-decoration none
	padding-left 3px
.space
	height 2.5rem
	width 100%
.footer
	margin-bottom 1.2rem
.redes
	height 55px
	text-align center

.linea
	position absolute
	top 50%
	height 1px
	width 100%
	background-color #000000
	z-index 0

.social-net
	background-color #fff
	height 55px
	width 200px
	position relative
	left 50%
	margin-left -100px

.icon-facebook-img
	a
		background-image url('../images/sprites.png')
		background-repeat no-repeat
		background-position 4px 5px	
		position absolute
		height 30px
		width 28px
		top 8px
		left 2.4rem

.icon-pinterest-img
	a
		background-image url('../images/sprites.png')
		background-repeat no-repeat	
		background-position -18px 5px	
		position absolute
		height 30px
		width 28px
		top 8px
		left 5rem

.icon-instagram-img
	a
		background-image url('../images/sprites.png')
		background-repeat no-repeat
		background-position -44px 5px	
		position absolute
		height 30px
		width 28px
		top 8px
		left 8rem
.to-top
	cursor pointer
	position fixed
	bottom 50px
	right 0px
	z-index 999999
	background-color color_lookuma_1
	color #000000
	padding 0.5em 1.2em
	font-size 1rem	
	transition all 0.2s linear
	opacity 0
.about-lookuma
.foot-cat
.foot-services
	vertical-align top
	width 322px

.about-lookuma
	border-right 1px solid #000000
	text-align left
	p 
		font-size 0.8rem
		text-align left
		margin-top .8rem
		padding-left 0.5rem
		width 230px
.foot-services
	border-left 1px solid #000000
.foot-title
	padding 2px 25px 5px 8px
	border-bottom 1px solid #000000
	font-size 1.3rem

.foot-list
	text-align left
	padding-left 3rem
	a:hover
		color color_lookuma_2

@media screen and (max-width:1024px)
	header
	nav
	section.banners-slides
	section.container
	footer			
		width 100%
	.content-user
		height 6rem

	.user
	.logotype
	.menu-principal
	.banners-slides
	.about-lookuma
		display none
	.lookuma-logo-min
		width 8.3rem
		display block
		box-sizing border-box
		margin-left 1.875rem
	.register
		left 0
		width 15rem
		top 7rem
		height auto	
	.cart
		background-color color_lookuma_2
		box-sizing border-box
		font-size 1rem
		right 0.5em
		top -0.6rem
	
	.button-menu
		width 12rem
		position absolute
		border-radius 0.3em
		background-color #a6a5a5
		color #ffffff
		display block
		right 0.8em
		top 1.2rem
		padding 8px 0px
		line-height 2.2rem
		font-size 2.2rem
	.container
		margin-top 6.5rem	
	.categories
		padding-bottom 0.5rem	
		height auto		
		width 23.75rem
		margin-right 1rem

	.categories
		.image 
			width 100%

	.txt-category
		left 0.5rem
		
	.foot-cat
	.foot-services		
		width 280px
	.foot-services
		padding-left 1rem
@media screen and (max-width:599px)
	.content-user
		height 5rem
	.lookuma-logo-min
		width 6.8rem		
		margin-left 0.5rem
	.button-menu
		width 10rem		
		right 0.25em
		top 1rem
		padding 6px 0px
		line-height 2.2rem
		font-size 1.8rem
	.register		
		top 5.7rem
		font-size 0.88rem
		width 13.1rem
	.cart
		font-size 0.79rem		
		right 0.5em
		top -0.8rem
	.categories			
		height auto		
		width 100%
		margin-right 0rem
	.foot-services
		padding-left 0.1rem
		border-left 0px

@media screen and (max-width:395px)
	.register			
		width 100%
	.cart
		width 100%		
		right 0em
		top 2rem
	.container
		margin-top 7rem