<style type="text/css">
.caja{
   position: relative;
   width: 150px;
   height:25px;
   border: 1px solid #000;
   overflow: hidden;
   
}
    .zoom{
        /* Aumentamos la anchura y altura durante 2 segundos */
        transition: width 2s, height 2s, transform 2s;
        -moz-transition: width 2s, height 2s, -moz-transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        -o-transition: width 2s, height 2s,-o-transform 2s;
      
             
    }
    .zoom:hover{
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        transform : scale(1.5);
        -moz-transform : scale(1.5);      /* Firefox */
        -webkit-transform : scale(1.5);   /* Chrome - Safari */
        -o-transform : scale(1.5);        /* Opera */
    }
</style>

<h2>Efecto zoom</h2>
<div class="caja" style='text-align:center;'>    
    <img class="zoom" src="http://www.lawebdelprogramador.com/logolwp100x25.jpg" />
</div>